[submodule "codegen/pyDeepThought"]
	path = codegen/pyDeepThought
	url = git@github.com:constructorfleet/DeepThought-CodeGen-Python.git
[submodule "specification"]
	path = specification
	url = git@github.com:constructorfleet/Deepthought-Schema.git
